key.txt
listado de componentes preliminar Angel Orellana.xlsx
Presupuesto_Angel_Orellana.xlsx
PCB_Design/*/History/*
PCB_Design/*/Project Logs*/*
PCB_Design/*/*.PrjPcbStructure
PCB_Design/*/__Previews
PCB_Design/*/Project Outputs*/*
programas/*/.generated_files
programas/*/build
programas/*/dist
simulations/*/*.plt
simulations/*/*.fft
simulations/*/*.log
simulations/*/*.net
simulations/*/*.raw
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.aux
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.bbl
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.bcf
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.blg
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.fdb_latexmk
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.fls
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.glo
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.ist
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.lof
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.log
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.lot
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.out
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.run.xml
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.synctex.gz
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.synctex(busy)
trabajo_de_graduación/output/trabajo_de_graduacion_Angel_Orellana.toc
anotaciones.txt
inventario.xlsx
PCB_a_la_antigua.pdf
PCB_a_la_antigua.svg
.vscode/*
matlab_scripts/R_feedback.asv
